.banner-center{
    display:flex;
    justify-content:center;
    align-items:center;
}
.banner-title{
    font-size:40px;
    font-weight:bold;
    text-shadow: 2px 2px grey;
}
.banner-middle{
    font-size: 25px;
    font-weight:bold;
    -webkit-text-stroke: 1px #C70039
}
.banner-top{
    background-color:#FFC300;
    color:#ECECEC;
    height:100px;
    margin-top:15px;
    position:relative;
    border-style:solid solid none solid;
    border-color:black;
    cursor:pointer
}
.banner-bottom{
    background-color:#C70039;
    font-size: 20px;
    height:30px;
    color:#ECECEC;
    font-weight:bold;
    border-style:none solid solid solid;
    border-color:black;
    cursor:pointer;
}
.banner-back{
    position:absolute;
    right:40px;
    width:80px;
    margin:5px
}